@media (max-width: 1200px) {
    .promo {
        padding: 20px 0 90px 0;
    .container{
        margin: auto;
    }
    }
}

@media (max-width: 767px) {
    .consultation {
        align-items: center;
        justify-content: center;
        .consultation__descr {
            font-size: 16px;
            text-align: center;
            margin-top: 20px;
        }
        .title {
            &_left {
                font-size: 20px;
                text-align: center;
            }
        }
    }
    .feed-form {
        text-align: center;
        align-items: center;
        width: 300px;
        input {
            width: 250px;
        }
        .button_submit {
            width: 200px;
            height: 40px;
            font-size: 12px;
        }
    }
}
.promo {
    padding: 21px 30px 93px 30px;
    &__subheader {
        font-size: 17px;
    }
    &__header {
        font-size: 30px;
        line-height: 30px;
    }
}
.header {
    &__official {
        display: none;
    }
}

.advantages {
    &__header {
        font-size: 28px;
    }

    &__wrapper {
        margin: 0;
        padding-bottom: 80px;
        align-items: center;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        width: 100%;
        &_icon_descr {
            margin-top: 12px;
        }
        &_icon_header {
            margin-top: 12px;
        }
    }
    .md_view {
        margin-top: 12px;
    }
}

@media (max-width: 576px) {
    .button {
        width: 110px;
        font-size: 10px;
    }

    .promo {

        &__wrapper {
            margin-top: 30px;
        }

        &__subheader {
            font-size: 12px;
            margin: 0;
        }
        &__header {
            font-size: 21px;
        }
        &__icons {
            align-items: center;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin-top: 15px;
            width: 100%;
        }
        &__icon {
            width: 108px;
            text-align: center;
            font-size: 14px;
            font-weight: 500;
            color: #ffffff;
            img {
                display: block;
                margin: 0 auto;
                margin-bottom: 5px;
                margin-top: 20px;
            }
        }
        &__link {
            font-size: 12px;
            margin-top: 20px;
        }
        .button_main {
            width: 160px;
            height: 30px;
        }
    }
    .header__phone {
        font-size: 10px;
    }
    .consultation {
        .consultation__descr {
            font-size: 14px;
            text-align: center;
            margin-top: 20px;
            margin-left: 0px;
        }
        .title {
            &_left {
                font-size: 14fffpx;
                text-align: center;
                margin-left: 0px;
                width: 100%;
            }
        }

        .feed-form {
            text-align: center;
            align-items: center;
            width: 300px;
            margin-left: 0px;
            input {
                width: 250px;
                margin-left: 0px;
            }
            .button_submit {
                width: 200px;
                height: 40px;
                font-size: 12px;
            }
        }
    }
}
